{% extends 'partials/anonymous_base.html' %}
{% load static %}

{% block content %}

<div>
    {% include 'landing/partials/nav.html' %}

    <!-- Hero Section -->
    <div class="relative isolate pt-2">
        <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
            <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>

        <div class="mt-36 sm:w-5/6 w-full sm:text-center px-4 ml-auto mr-auto text-left">
            <h1 class="text-4xl mr-auto ml-auto font-bold tracking-tight text-gray-900 sm:text-6xl">Meet Your New Chief of Staff.</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600 font-semibold">Perch works together with you to design and build your organization's Operating System.</p>
            <div class="mt-10 flex items-center justify-center gap-x-6">
                <a href="{% url 'landing:contact-us' %}" class="rounded-md bg-secondary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-600">Talk to us</a>
                <a href="#highlight" class="text-sm font-semibold leading-6 text-gray-900">Learn more <span aria-hidden="true">→</span></a>
            </div>
        </div>

        <div class="py-12 lg:pb-40">
            <div class="mx-auto max-w-7xl px-6 lg:px-8">
              <div class="mt-2 flow-root">
                  <div class="-m-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
                  <img src="/static/img/hero{{ hero }}.jpg" alt="App screenshot" width="1280" height="756" class="rounded-md shadow-2xl ring-1 ring-gray-900/10">
                  </div>
              </div>
            </div>
        </div>
        <div class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]" aria-hidden="true">
            <div class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
        </div>
    </div>

    <!-- Features Section -->
    <div id="highlight" class="overflow-hidden bg-white py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2 lg:items-start">
            <div class="lg:pr-4 lg:pt-4">
              <div class="lg:max-w-lg">
                <h2 class="text-base font-semibold leading-7 text-indigo-600">Say Hi to Perch</h2>
                <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Your New Chief of Staff</p>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                  Every company has its own Operating System that determines its rhythm and pace in which work is done and organized, all the way from systems to tools and people.
                </p>

                <p class="mt-4 text-lg leader-8 text-gray-600">As your Chief of Staff, we will work with you to design and build your organization’s unique Operating system.</p>
                <p class="mt-4 text-lg leader-8 text-gray-600 font-semibold">Tell us about your ideal business cadence and rhythm, and let us bring that vision to life.</p>

                <figure class="mt-8 border-l border-gray-200 pl-8 text-gray-600">
                  <blockquote class="text-base leading-7">
                    <p>“Perch is on a mission to help companies scale and work more efficiently. <b>We help founders and leaders design and implement that ideal business operating system they have always wanted, but never had the time or energy to build</b>.”</p>
                  </blockquote>
                  <figcaption class="mt-6 flex gap-x-4 text-sm leading-6">
                    <img src="{% static 'img/profile.jpg' %}" alt="" class="h-4 w-4 flex-none rounded-full">
                    <div><span class="font-semibold text-gray-900">Victor Neo</span> – Co-Founder</div>
                  </figcaption>
                </figure>
                <div class="mt-12 flex items-center justify-center gap-x-6">
                    <a href="{% url 'landing:contact-us' %}" class="rounded-md bg-secondary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-600">Talk to us</a>
                    <a href="#services" class="text-sm font-semibold leading-6 text-gray-900">Our Services <span aria-hidden="true">→</span></a>
                </div>
              </div>
            </div>
            <img src="{% static 'img/landing/weave.png' %}" alt="Product screenshot" class="max-w-none md:-ml-4 lg:ml-0 md:w-3/4 lg:block hidden">
          </div>
        </div>
      </div>
    
      <div id="services" class="bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">Let's Build Your Operating System</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Services We Offer</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">Tell us about your vision, and let us build it for you.</p>
          </div>
          <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-2">
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg class="h-5 w-5 flex-none text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 18.75h-9m9 0a3 3 0 0 1 3 3h-15a3 3 0 0 1 3-3m9 0v-3.375c0-.621-.503-1.125-1.125-1.125h-.871M7.5 18.75v-3.375c0-.621.504-1.125 1.125-1.125h.872m5.007 0H9.497m5.007 0a7.454 7.454 0 0 1-.982-3.172M9.497 14.25a7.454 7.454 0 0 0 .981-3.172M5.25 4.236c-.982.143-1.954.317-2.916.52A6.003 6.003 0 0 0 7.73 9.728M5.25 4.236V4.5c0 2.108.966 3.99 2.48 5.228M5.25 4.236V2.721C7.456 2.41 9.71 2.25 12 2.25c2.291 0 4.545.16 6.75.47v1.516M7.73 9.728a6.726 6.726 0 0 0 2.748 1.35m8.272-6.842V4.5c0 2.108-.966 3.99-2.48 5.228m2.48-5.492a46.32 46.32 0 0 1 2.916.52 6.003 6.003 0 0 1-5.395 4.972m0 0a6.726 6.726 0 0 1-2.749 1.35m0 0a6.772 6.772 0 0 1-3.044 0" />
                  </svg>
                  
                  Strategic Planning and Operating Cadence
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">From Strategy Planning to Business Reviews, Perch works with you to design your ideal operating cadence. We'll work with your leaders and team members to make sure they are included in the process.</p>
                  <p class="mt-4 flex-auto">Don't worry, you and your teams can continue using the tools that you already love - let us orchestrate them to work for you.</p>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg class="h-5 w-5 flex-none text-indigo-600"xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                  </svg>
                  
                  End-to-End People and Talent Strategy
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">
                    Deepen the capabilities that matter most - your people. We work with experienced HR leaders to develop a talent strategy that is aligned with your goals.
                    Goal Tracking and Performance Management are critical feedback loops for all organizations, but they are often out of sync with each other. Perch can help bridge the gap and keep them in sync with your operating cadence.</p>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg class="h-5 w-5 flex-none text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 0 1-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0 1 15 18.257V17.25m6-12V15a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 15V5.25m18 0A2.25 2.25 0 0 0 18.75 3H5.25A2.25 2.25 0 0 0 3 5.25m18 0V12a2.25 2.25 0 0 1-2.25 2.25H5.25A2.25 2.25 0 0 1 3 12V5.25" />
                  </svg>

                  Design Thinking and Technology Transformation
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Teams overwhelmed by manual administrative work? Perch can embed design thinking and automation capabilities into your organization so that they proactively solve business problems, instead of delivering intiatives that the business needed a year ago.</p>
                  <p class="mt-6">
                  </p>
                </dd>
              </div>
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg class="h-5 w-5 flex-none text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155" />
                  </svg>

                  Team Collaboration and Interface Design
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Do you have a culture of accountability and collaboration to enable you to execute effectively? Teams often need to collaborate with other teams to deliver critical business results. We use Design and Systems Thinking to craft team interfaces that allow your teams to work cohesively even as your organization grows.</p>
                  <p class="mt-6">
                  </p>
                </dd>
              </div>
            </dl>
          </div>

          <div class="mx-auto mt-12 max-w-2xl sm:mt-20 lg:mt-18 lg:max-w-none">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-1 lg:w-1/2 lg:ml-auto lg:mr-auto">
              <div class="flex flex-col">
                <dt class="flex items-center gap-x-3 text-base font-semibold leading-7 text-gray-900">
                  <svg class="h-5 w-5 flex-none text-indigo-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15.59 14.37a6 6 0 0 1-5.84 7.38v-4.8m5.84-2.58a14.98 14.98 0 0 0 6.16-12.12A14.98 14.98 0 0 0 9.631 8.41m5.96 5.96a14.926 14.926 0 0 1-5.841 2.58m-.119-8.54a6 6 0 0 0-7.381 5.84h4.8m2.581-5.84a14.927 14.927 0 0 0-2.58 5.84m2.699 2.7c-.103.021-.207.041-.311.06a15.09 15.09 0 0 1-2.448-2.448 14.9 14.9 0 0 1 .06-.312m-2.24 2.39a4.493 4.493 0 0 0-1.757 4.306 4.493 4.493 0 0 0 4.306-1.758M16.5 9a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" />
                  </svg>
                  HR Transformation
                </dt>
                <dd class="mt-4 flex flex-auto flex-col text-base leading-7 text-gray-600">
                  <p class="flex-auto">Many HR teams are stuck with administrative work and are unable to meet the ever changing needs of an organisation. Perch helps HR teams move away from transactional administrative work by equipping the team with Technology, Design Thinking, and Systems Thinking.</p>
                  <p class="mt-4 flex-auto">Our HR maturity model allows us to determine where your team is currently at, and how we can help you elevate your team to the next level</p>
                </dd>

                <p class="mt-6">
                  <a href="{% url 'landing:people-services' %}" class="text-sm font-semibold leading-6 text-indigo-600">Learn How You Can Elevate Your HR Team <span aria-hidden="true">→</span></a>
                </p>
              </div>
            </dl>
          </div>

          <div class="mt-20">
            <p class="text-center text-gray-600">Ensure your Operating System is bridging your strategic vision and execution seamlessly.</p>
            <div class="mt-6 flex items-center justify-center gap-x-6">
                <a href="{% url 'landing:contact-us' %}" class="rounded-md bg-secondary-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-secondary-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-secondary-600">Talk to us</a>
                <a href="#highlight" class="text-sm font-semibold leading-6 text-gray-900">About Perch <span aria-hidden="true">→</span></a>
            </div>
          </div>

        </div>
      </div>
    
      <div>
        <div class="relative bg-gray-900">
          <div class="absolute bottom-0 h-80 w-full xl:inset-0 xl:h-full">
            <div class="h-full w-full xl:grid xl:grid-cols-2">
              <div class="h-full xl:relative xl:col-start-2">
                <img class="h-full w-full object-cover opacity-25 xl:absolute xl:inset-0" src="https://images.unsplash.com/photo-1521737852567-6949f3f9f2b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2830&q=80&sat=-100" alt="People working on laptops">
                <div aria-hidden="true" class="absolute inset-x-0 top-0 h-32 bg-gradient-to-b from-gray-900 xl:inset-y-0 xl:left-0 xl:h-full xl:w-32 xl:bg-gradient-to-r"></div>
              </div>
            </div>
          </div>
          <div class="mx-auto max-w-4xl px-6 lg:max-w-7xl lg:px-8 xl:grid xl:grid-flow-col-dense xl:grid-cols-2 xl:gap-x-8">
            <div class="relative pb-64 pt-12 sm:pb-64 sm:pt-24 xl:col-start-1 xl:pb-24">
              <h2 class="text-base font-semibold text-indigo-300">About Perch</h2>
              <p class="mt-3 text-3xl font-bold tracking-tight text-white">The People Experience and Impact Company.</p>
              <p class="mt-5 text-lg text-gray-300">A strong Operating System is critical to the success of all organizations.</p>
              <p class="mt-5 text-lg text-gray-300">We started Perch to help startups and small enterprises scale and run their organizations more efficiently, as we have seen many of them struggle to bring their own teams and resources onto the same business cadence.</p>
              <p class="mt-5 text-lg text-gray-300">Our experience working at startups and large corporations have given us key insights into how various companies designed their Operating Systems, and why some are successful while some are not.</p>
              <p class="mt-8 text-lg text-gray-300 font-semibold">Our Core Belief: People and Impact are key to successful organizations, and we want to be there to help you build an enduring one.</p>
            </div>
          </div>
        </div>
      </div>

      {% include 'landing/partials/team.html' %}

      <!-- Blog -->
      <div class="bg-white pt-24 py-24 sm:py-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl text-center">
            <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">From The Blog</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Learn how you can build productive and happy teams for your organization.</p>
          </div>

        <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          {% for p in posts %}
          <article class="flex flex-col items-start justify-normal border rounded-xl">
            <a href="/{% if p.attachment %}resources{% else %}blog{% endif %}/{{ p.slug }}">
            <div class="relative w-full">
              <img class="h-45" src="{{ p.key_image.url }}">
            </div>
            <div class="max-w-xl p-4">
              <div class="mt-2 flex items-center gap-x-4 text-xs">
                <time datetime="2020-03-16" class="text-gray-500">{{ p.created_at.date }}</time>
                <span class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">{% if p.attachment %}Resources{% else %}Articles{% endif %}</span>
              </div>
              <div class="group relative">
                <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                  <span class="absolute inset-0"></span>
                  {{ p.title }}
                </h3>
                <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">{{ p.description }}</p>
              </div>
              <div class="relative mt-8 flex items-center gap-x-4">
                <img src="{% static 'img/profile.jpg' %}" alt="" class="h-10 w-10 rounded-full bg-gray-100">
                <div class="text-sm leading-6">
                  <p class="font-semibold text-gray-900">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      Victor Neo
                    </a>
                  </p>
                  <p class="text-gray-600">Founder</p>
                </div>
              </div>
            </div>
          </a>
          </article>
          {% endfor %}

          </div>
        </div>
      </div>

      <!-- CTA -->
      <div class="bg-gray-900 py-24 sm:py-32">
        <div class="relative isolate">
          <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
            <div class="mx-auto flex max-w-2xl flex-col gap-16 bg-white/5 px-6 py-16 ring-1 ring-white/10 sm:rounded-3xl sm:p-8 lg:mx-0 lg:max-w-none lg:flex-row lg:items-center lg:py-20 xl:gap-x-20 xl:px-20">
              <img class="h-96 w-full flex-none rounded-2xl object-cover shadow-xl lg:aspect-square lg:h-auto lg:max-w-sm" src="static/img/landing/work-together.jpg" alt="">
              <div class="w-full flex-auto">
                <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">We can't wait to work with you.</h2>
                <p class="mt-6 text-lg leading-8 text-gray-300">Every organization needs its own Operating System. Let's build it.</p>
                <ul role="list" class="mt-10 grid grid-cols-1 gap-x-8 gap-y-3 text-base leading-7 text-white sm:grid-cols-2">
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    Free Consultation
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    On-site or Remote: You Choose
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    Strategy Planning and Consulting
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    Workshops and Team Training
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    Technology and Automation
                  </li>
                  <li class="flex gap-x-3">
                    <svg class="h-7 w-5 flex-none" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                      <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
                    </svg>
                    Change Management
                  </li>
                </ul>
                <div class="mt-10 flex">
                  <a href="{% url 'landing:contact-us' %}" class="text-sm font-semibold leading-6 text-indigo-400">Let's talk <span aria-hidden="true">&rarr;</span></a>
                </div>
              </div>
            </div>
          </div>
          <div class="absolute inset-x-0 -top-16 -z-10 flex transform-gpu justify-center overflow-hidden blur-3xl" aria-hidden="true">
            <div class="aspect-[1318/752] w-[82.375rem] flex-none bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-25" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
          </div>
        </div>
      </div>

      {% include 'landing/partials/footer.html' %} 

  </div>

{% endblock %}