{% load static %}
<!DOCTYPE html>
<html class="h-full {% block bgcolor %}bg-white{% endblock %} scroll-smooth" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.png' %}"/>

    <script src="{% static 'js/htmx.min.js' %}" defer></script>
    <script src="{% static 'js/alpine.min.js' %}" defer></script>

 {% block meta %}
    <meta property="og:title" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="" />
    <meta property="og:image" content="" />

    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <meta name="twitter:card" content="summary_large_image">
{% endblock %}

{% block head %}
{% endblock %}
  </head>
  <body class="h-full">
    <main class="">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
